{% extends 'base.html.twig' %}

{% block body %}

    {{ include('shared/_navigation.html.twig') }}
    {{ include('shared/_top_background.html.twig') }}
    <section class="ftco-section">
        <div class="container">
            {% if posts is empty %}
                <div class="row">
                    <h1>There are no posts yet :(</h1>
                </div>
            {% else %}
                {% for post in posts %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="case">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-8 d-flex">
                                        <a href="#" class="img w-100 mb-3 mb-md-0"
                                           style="background-image: url({{ assets_url ~ asset('assets/uploads/' ~ post.headerImage) }});"></a>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
                                        <div class="text w-100 pl-md-3">
                                            <span class="subheading">Illustration</span>
                                            <h2><a href="#">{{ post.title}}</a>
                                            </h2>
                                            <ul class="media-social list-unstyled">
                                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
                                                </li>
                                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
                                                </li>
                                            </ul>
                                            <div class="meta">
                                                <p class="mb-0"><a href="#">{{post.createdAt}}</a> | <a href="#">12 min read</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ include('shared/_footer.html.twig') }}
{% endblock %}
